@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root, html[data-theme = 'dark'] {
    --body-background-color: hsl(222, 26%, 31%);
    --body-color: white;
    --display-background-color: hsl(224, 36%, 15%);
    --display-box-shadow: 0px 0px 20px 1px rgb(18, 29, 56);
    --display-color: white;
    --buttons-background-color: hsl(224, 36%, 15%);
    --buttons-box-shadow: 0px 0px 20px 1px rgb(23, 31, 56);
    --button-border: .5px solid blue;
    --button-background-color: hsl(30,25%, 89%);
    --button-color: hsl(221, 14%, 31%);
    --button-box-shadow: 0px 4px 0px hsl(27, 23%, 64%);
    --button-hover-background-color: #17174d;
    --button-hover-color: white;
    --equal-background-color: hsl(6, 63%, 50%);
    --equal-color: white;
    --equal-box-shadow: rgb(230, 81, 81);
    --del-background-color: hsl(225, 21%, 49%);
    --del-color: white;
    --del-box-shadow: 0px 4px 0px hsl(224, 28%, 35%);
    --theme-toggle-background-color: hsl(224, 36%, 15%);
    --theme-toggle-color: rgb(216, 59, 59);
    --reset-background-color: hsl(225, 21%, 49%);
    --border: none;
}


html[data-theme = 'light'] {
    --body-background-color: hsl(0, 0%, 90%);
    --body-color: black;
    --buttons-background-color: hsl(0, 5%, 81%);
    --display-background-color: hsl(0, 0%, 93%);
    --display-color: black;
    --equal-background-color: hsl(25, 98%, 40%);
    --equal-box-shadow:hsl(25, 99%, 27%);
    --button-color: hsl(60, 10%, 19%);
    --del-background-color: hsl(185, 42%, 37%);
    --del-box-shadow: 0px 4px 0px hsl(185, 58%, 25%);
    --reset-background-color: hsl(185, 42%, 37%);
    --buttons-box-shadow: 0px 0px 0px;
    --display-box-shadow: 0px 0px 10px 0px rgb(216, 210, 178);
    --button-hover-background-color: hsl(185, 42%, 37%);
    --theme-toggle-background-color: hsl(0, 5%, 81%);
}

html[data-theme = 'purple'] {
    --body-color: hsl(52, 100%, 62%);
    --body-background-color: hsl(268, 75%, 9%);
    --button-background-color: hsl(268, 71%, 12%);
    --display-background-color: hsl(268, 71%, 12%);
    --display-color: hsl(52, 100%, 62%);
    --del-background-color: hsl(281, 89%, 26%);
    --reset-background-color: hsl(281, 89%, 26%);
    --del-box-shadow: 0px 4px 0px hsl(285, 91%, 52%);
    --button-color: hsl(52, 100%, 62%);
    --button-background-color: hsl(268, 47%, 21%);
    --button-box-shadow: 0px 4px 0px hsl(290, 70%, 36%);
    --button-hover-background-color: hsl(267, 53%, 44%);
    --equal-background-color: hsl(176, 100%, 44%);
    --equal-box-shadow: hsl(177, 92%, 70%);
    --buttons-background-color: hsl(268, 71%, 12%);
    --buttons-box-shadow: 0px 0px 0px;
    --display-box-shadow: 0px 0px 0px;
    --theme-toggle-background: hsl(268, 71%, 12%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--body-background-color);
    color: var(--body-color);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 94px 0;  
    transition: all .5s linear;
}


.container {
    width: 540px;
    max-width: 540px;
}


#display {
    height: 128px;
    line-height: 70px;
    padding: 35px 15px 0px;
    font-size: 54px;
    text-align: right;
    margin-bottom: 20px;
    background-color: var(--display-background-color);
    border-radius: 10px;
    font-weight: 600;
    box-shadow: var(--display-box-shadow);
    color: var(--display-color);
    overflow: auto;
    transition: all .5s linear;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--buttons-background-color);
    padding: 30px 35px;
    border-radius: 10px;
    box-shadow: var(--buttons-box-shadow);
    width: 100%;
    gap: 28px 25px;
}


.button {
    border: var(--button-border);
    border-radius: 8px;
    padding-top: 15px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-color);
    margin: 5px;
    font-weight: 600;
    border: none;
    height: 60px;
    box-shadow: var(--button-box-shadow);
}

.button:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-color);
    transition: 0.2s ease-in-out;
}

#equal {
    background-color: var(--equal-background-color);
    color: var(--equal-color); 
    box-shadow: 0px 4px 0px var(--equal-box-shadow);
}

#equal:hover {
    opacity: .6;
    transition: .2s ease-in-out;
}

#del {
    background-color: var(--del-background-color);
    color: var(--del-color);
    box-shadow: var(--del-box-shadow);
}

#del:hover {
    opacity: .6;
    transition: .2s ease-in-out;
}

.reset {
    background-color: var(--reset-background-color);
    box-shadow: var(--del-box-shadow);
}


.logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
}

.logo h1{
    font-size: 32px;
    padding-left: 8px;
}


.theme-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

small {
    padding-right: 20px;
    font-size: 12px;
    letter-spacing: 2px;
}

.theme-toggle {
    border: 1px solid var(--border);
    border-radius: 15px;
    background-color: var(--theme-toggle-background-color);
    color: var(--theme-toggle-color);
}

.theme-toggle i{
    padding: 9px 5px;
    cursor: pointer;
    font-size: 15px;
}

.theme-toggle i:hover {
    opacity: .5;
}

.dark {
    color: red;
}

.light {
    color: hsl(25, 98%, 40%);
}

.purple {
    color: hsl(176, 100%, 44%);
    
}



/* QUERIES */

/* 600px */
@media only screen and (max-width: 600px) {
    .container {
        width: 350px;
    }

    body {
        margin: 27px 0;
        font-weight: 700;
    }

    #display {
        height: 88px;
    }

    .buttons {
        gap: 17px;
        padding: 24px;
    }

    .button {
        height: 60px;
        font-size: 27px;
        margin: 0;
    }

    .theme-toggle i{
        padding: 8px 5px;
        font-size: 10px;

    }

   
}

/* 340px */
@media only screen and (max-width: 340px) {
        .container {
        width: calc((100vw) - 30px);
    }

    body {
        /* margin: 27px 0; */
        font-weight: 400;
    }

    #display {
        height: 80px;
        font-size: 38px;
        padding-top: 10px;
    }

    .button {
        height: 50px;
        padding-bottom: 25px;
    }

    .theme-toggle i{
        padding: 7px 4px;
        font-size: 10px;

    }

}
